<div class="fixed">

    <div class="fixed__dev_block">
        <div class="fixed__dev_block--title">
            <h3>¿Cómo surgió este proyecto?</h3>
        </div>

        <div class="fixed__dev_block--text">

            <p>
                Este proyecto surgió de la idea de combinar la oportunidad de conocer a profundidad <br>
                un lenguaje de programación y aplicarlo con un microcontrolador capaz de conectarse a internet.
            </p>

        </div>

    </div>


    <div class="fixed__dev_block--img">
        <img src="{{ url_for('auth.static', filename='auth/images/authomatical_house.jpg') }}" alt="Casa automática">
    </div>

</div>
