<div class="problems">


    <div class="problems__dev_block">

        <div class="problems__dev_block--title">
            <h3>Veamos los problemas resueltos con Boxy...</h3>
        </div>

        <div class="problems__dev_block--text">

            <p>
                Podemos observar que existen muchas maneras de automatizar nuestro hogar, pero...<br>
                Hay tantas maneras como plataformas 😵‍💫<br>
                Si necesitas un control de la iluminación necesitas una aplicación.<br>
                Si necesitas un sistema tanque-cisterna necesitas otro tipo de sistema.
            </p>

        </div>

    </div>

    <div class="problems__dev_block--img">
            <img src="{{ url_for('auth.static', filename='auth/images/esp32_animado.jpg') }}" alt="esp32 animado">
    </div>

</div>
