<div class="solutions">


    <div class="solutions__dev_block">

        <div class="solutions__dev_block--title">
            <h3>Acá tenemos las soluciones para tus problemas...</h3>
        </div>

        <div class="solutions__dev_block--text">

            <p>
                Boxy viene a promover la centralización del control de tu hogar.<br>
                Se trata de un sistema capaz de automatizar tu hogar completo, con:<br>
                sistema de sensores de movimiento, control del gas en el aire, <br>
                control de la iluminación, sistema automático de tanque-cisterna, etc.
            </p>

        </div>

    </div>

    <div class="solutions__dev_block--img">
            <img src="{{ url_for('auth.static', filename='auth/images/esp32_animado.jpg') }}" alt="esp32 animado">
    </div>

</div>
